@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style-type: none;
}

body {
    max-width: 1500px;
    min-width: 1440px;
    font-size: 18px;
}

header {
    width: 80%;
    margin: auto;
    height: 100px;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    color: hsl(257, 7%, 63%);
    font-size: 1rem;
    font-weight: 800;
}

.header-main {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.logo {
    background-image: url('./images/logo.svg');
    background-size: cover;
    height: 30px;
    width: 110px;
}

.nav-page {
    width: 65%;
    margin-left: 30px;
}

.nav-page ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-log {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-log button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: hsl(180, 66%, 49%);
    color: #FFF;
}

/* Section 1 */

.start-section {
    width: 80%;
    height: 600px;
    margin: auto;
    display: flex;
}

.start-container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.start-title {
    font-size: 5rem;
    line-height: 1.2;
    color: hsl(255, 11%, 22%);
}

.start-text {
    color: hsl(257, 7%, 63%);
    width: 70%;
}

.start-section button {
    margin-top: 30px;
    border: none;
    border-radius: 20px;
    background-color: hsl(180, 66%, 49%);
    color: #FFF;
    width: 140px;
    height: 40px;
    padding: 8px;
}

.start-image {
    height: 500px;
    width: 47%;
    background-image: url('./images/illustration-working.svg');
    background-size: cover;
    transform: translateX(20%);
    position: absolute;
    left: 45%;
}

